@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --loader-primary: hsl(var(--primary));
    --loader-secondary: hsl(var(--muted));
    --loader-border: 5px;
    --loader-width: 48px;
    --loader-speed: 1s;
  }

  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 246.99deg 91.7% 59.55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 246.99deg 91.7% 59.55%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 246.99deg 91.7% 59.55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --background-code: 0 0% 3.9%;
  }
  .dark {
    --background: 0deg 0% 6.27%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 246.99deg 91.7% 59.55%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --background-code: 0 0% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  code {
    @apply relative whitespace-pre-wrap break-words rounded px-1 py-0.5 text-sm font-normal;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-lg bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: hsl(var(--muted-foreground)); */
    @apply rounded-s-lg bg-muted-foreground;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* pre {
    @apply scrollbar-none;
  } */
}

html {
  scroll-padding-top: 80px; /* Adjust based on your header's height */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 80px;
}

/* width */

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-color: hsl(var(--border) / 0.3);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1536px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.preview-code {
  background: repeating-linear-gradient(
    45deg,
    hsl(var(--background)),
    hsl(var(--background)) 10px,
    hsl(var(--muted)) 10px,
    hsl(var(--muted)) 10.6px
  );
  background-size: 30px 30px;
}

.preview-code-tabs [data-state="active"]:after {
  content: "";
  height: 2px;
  /* background-color: red !important; */
}

.preview-code-container pre {
  border-radius: 0;
}

.prose {
  /* @apply; */
}

/* .prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
} */

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin: 0;
}
.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-block: 2rem;
}
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: unset;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  font-weight: inherit;
  font-size: inherit;
}

.steps {
  padding-left: 2rem;
  counter-reset: step;
}

.steps > h3:before {
  position: absolute;
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: hsl(var(--muted));
  text-align: center;
  text-indent: -1px;
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-left: -50px;
  margin-top: 0px;
  counter-increment: step;
  content: counter(step);
}

/* pre {
  overflow-x: auto;
  padding: 1rem 0;
}
 
pre [data-line] {
  padding: 0 1rem;
} */
